body{
    background-color: rgb(2, 19, 73);
}

header{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    top: 0;
    background-color: #014d70;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

cabeçalho{
    width: 80%;

}

.list{
    
    width: 20%;
    height: 20%;
      
}
.bloco{
    width: 700px;
    height: auto;;
    display:inline-flexbox;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
    margin: 5%;
}

.button{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 12px 0;
    font-family:'Times New Roman', Times, serif;
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    color: white;
    border: 1px solid rgb(5, 5, 206);
    overflow: hidden;
    cursor: pointer;
}

.button::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #10038a;
    z-index: -1;
    transition: all .5s;
   
    
}

.item1::before{
    width: 0;
    height: 100%;
    top: 0;
    
}

.item1:hover::before{
    width: 100%;
}


.item2::before{
    width: 0;
    height: 100%;
     top: 0;
    

}

.item2:hover::before{
    width: 100%;
}

.item3::before{
    width: 0;
    height: 100%;
     top: 0;
     

}

.item3:hover::before{
    width: 100%;
}

.item4::before{
    width: 0;
    height: 100%;
     top: 0;
     

}

.item4:hover::before{
    width: 100%;
}

.t2{
    color: white;
    width:fit-content;

    font-size: 130%;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;

 
}



.artigo{
    color: white;
    width: 30%;
    font-size: 100%;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}